<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Matcha</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="/css/main.css" type="text/css"/>
        <link rel="stylesheet" href="/css/theme.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}{% endblock %}
    <style>
{% set size = "cover" %}
{% set position = "center bottom" %}
{% set hour = "now"|date("G") %}
{% set url = "" %} 
{% if logout %}
    {% set url = "title_screen.png" %} 
    {% set size = "contain" %} 
    {% set position = "center" %}
    body, footer, header, h1, h4 {
        background-color: black;
    }
{% elseif (hour > 21 or hour < 7) %}
    {% set url = "search2.jpg" %} 
{% else %}
    {% set url = "background.jpg" %} 
{% endif %}
    #main {
        background: url('../img/{{ url }}') no-repeat {{ position }};
        background-size: {{ size }};
        min-height: 75vh;
    }
    </style>
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block navbar %}{% endblock %}
        <div id="main" class="w3-container">
            {% block notification %}{% endblock %}
            {% block main %}{% endblock %}
        </div>
        <footer>
            <hr>
            <a href="/contact">contact us</a>
            <em>© jgroc-de 2018</em>
        </footer>
    {% block script %}{% endblock %}
    </body>
</html>
