#main {
    background: none;
    background: #371b0f;
}

footer, header{
    position: fixed;
    left: 0;
    margin:0;
 }

header {
    bottom: 10vh;
    height: 20vh;
    padding: 0px 20px;
}

footer {
    bottom: 0;
    height: 5vh;
}

img {
    display: block;
    max-width:100%;
    max-height: 70vh;
    margin:auto;
}
