header {
}

.hide {
    display:none;
}

.gg-button {
    border-radius:0 100px 100px 0;
}

.gg-map-small {
    height: 258px;
}

.gg-map-med {
    height: 50vh;
}

.gg-navbar {
    overflow: visible;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.gg-card-4 {
    box-shadow: 0px 0px 10px 6px #4CAF50;
}

img {
    cursor: pointer;
    margin: auto;
}

.gg-section {
    height: 200px;
    overflow: auto;
}

h3 {
    min-height:38.5px;
}

@media only screen and (max-width: 600px) {
    .gg-menu {
        display:none !important;
    }
    
    .gg-pop {
        display:none;
    }
    
    .gg-main-image {
        height:125px;
    }

    .gg-2nd-image {
        height:125px;
    }

    #notification {
        height:75%;
        width:50%;
        right:0;
    }
}

@media only screen and (min-width: 600px) {
    .gg-burger {
        display:none !important;
    }
    
    .gg-pop {
        width:100px;
        margin:12px;
    }

    #notification {
        height:75%;
        width:25%;
        right:0;
    }
    
    .gg-main-image {
        height:250px;
    }
    
    .gg-2nd-image {
        height:125px;
    }
}
