header {
}

.hide {
    display:none;
}

.gg-button {
    border-radius:0 100px 100px 0;
}

.gg-map-small {
    height: 258px;
}

.gg-map-med {
    height: 50vh;
}

.gg-navbar {
    overflow: visible;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.gg-card-4 {
    box-shadow: 0px 0px 10px 6px #4CAF50;
}

img {
    cursor: pointer;
    margin: auto;
}

.gg-section {
    height: 200px;
    overflow: auto;
    display:flex;
    flex-direction: column;
}

.gg-tag-section {
    height: 200px;
    overflow: auto;
}

.del {
    font-size: 10px;
    color: #555555;
}

.del:hover {
    color: black;
}

.del-red,.check-green,.del {
    transition: 0.2s;
    cursor: pointer;
}

.del-red:hover {
    color: red;
}

.check-green:hover {
    color: #4CAF50;
}

.gg-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:40px;
}

.gg-friend-img {
    object-fit: cover;
    height: 30px;
    width: 30px;
    border: solid;
    border-width: 3px;
}

.gg-friend {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 5px;
    margin-bottom: 4px;
    transition: 0.2s;
}

.gg-friend:hover {
    background-color: #371b0f20;
}

.name {
    font-size:27px;
    font-family: "Amatic SC", Verdana, sans-serif;
}

.small-text {
    font-size: 12px;
    font-family: "Geo", Verdana, sans-serif;
}

.medium-text {
    font-size: 20px;
    font-family: "Amatic SC", Verdana, sans-serif;
}

.pop-score {
    font-family: "Amatic SC", Verdana, sans-serif;
    font-size: 23px;
    font-weight: bold;
    background-color: #a7e9af;
    color: white;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3 {
    min-height:38.5px;
}

@media only screen and (max-width: 650px) {
    .gg-menu {
        display:none !important;
    }

    .gg-pop {
        display:none;
    }

    .gg-main-image {
        height:125px;
    }

    .gg-2nd-image {
        height:125px;
    }

    #notification {
        height:75%;
        width:50%;
        right:0;
    }
}

@media only screen and (min-width:651px) {
    .gg-burger {
        display:none !important;
    }

    .gg-pop {
        width:100px;
        margin:12px;
    }

    #notification {
        height:75%;
        width:25%;
        right:0;
    }

    .gg-main-image {
        height:250px;
    }

    .gg-2nd-image {
        height:125px;
    }
}
