header {
}

.hide {
    display:none;
}

.gg-button {
    border-radius:0 100px 100px 0;
}

.gg-map-small {
    height: 258px;
}

.gg-map-med {
    height: 50vh;
}

.gg-navbar {
    overflow: visible;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

img {
    cursor: pointer;
    margin: auto;
}

.gg-section {
    height: 200px;
    overflow: auto;
}

h3 {
    height:38.5px;
}

@media only screen and (max-width: 600px) {
    .gg-menu {
        display:none !important;
    }
    
    .gg-pop {
        width:50px;
        margin:12px 6px;
    }
}

@media only screen and (min-width: 600px) {
    .gg-burger {
        display:none !important;
    }
    
    .gg-pop {
        width:100px;
        margin:12px;
    }
}
