main {
    width: 100vw;
    height: 85vh;
}

footer, header{
    position: fixed;
    left: 0;
    width: 100vw;
    margin:0;
}

header {
    bottom: 5vh;
    height: 10vh;
    padding: 0px 20px;
}

footer {
    bottom: 0;
    height: 5vh;
}
