* {
    box-sizing: border-box;
}

@font-face {
	font-family: 'Geo', sans-serif;
	src: url('../font/GeosansLight.ttf') format("truetype");
}

h1, h2, h3, h4, h5, h6, footer, header {
    font-family: "Amatic SC", Verdana, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
}

h1, h3, h4, h5, h6, footer, header {
    background-color: #371b0f;
}

h1, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    min-height: 46px;
}

h3 {
    cursor:pointer;
}

body {
    background: #371b0f;
    font-family: "Geo", Arial, sans-serif;
}
.w3-myfont {
    font-family: "Geo", Arial, sans-serif;
}

header, footer {
    color: white;
    background: #371b0f;
}

a {
    text-decoration: none;
}

header a {
    font-size: 1.4em;
}

footer {
    text-align: right;
}

footer em  {
    padding-right: 20px;
}

hr {
    margin: 10px 0 0 0;
}

label {
    text-transform: capitalize;
}

.fix-gg {
    display: flex;
    align-items: center;
    height: 38.5px;
}

.cut-img {
    object-fit: cover;
}
