h1, h2, h3, h4, h5, h6, footer, header {
    font-family: "Amatic SC", Verdana, sans-serif;
    background-color: #371b0f;
    color: white;
}

h1, h3 {
    margin: 0;
}

body {
    background: #371b0f;
    font-family: Verdana, sans-serif;
}
.w3-myfont {
    font-family: Verdana, sans-serif;
}

header, footer {
    color: white;
    background: #371b0f;
}

a {
    text-decoration: none;
}

header a {
    font-size: 1.4em;
}

main {
    background: url('../img/background.jpg') no-repeat center bottom;
    background-size: cover;
    min-height: 70vh;
}

footer {
    text-align: right;
}

footer em  {
    padding-right: 20px;
}

hr {
    margin: 10px 0 0 0;
}
