h1, h2, h3, h4, h5, h6, footer, header {
    font-family: "Amatic SC", Verdana, sans-serif;
    font-weight: bold;
}

h1, h3 {
    margin: 0;
}

body {
    background: #371b0f;
}

header, footer {
    color: white;
    background: #371b0f;
}

header a, h1 {
    text-decoration: none;
    font-weight: bold;
}

main {
    background: url('../img/139885-top-rick-and-morty-wallpaper-1920x1080-1920x1080-full-hd.jpg') no-repeat center bottom;
    background-size: cover;
}

footer {
    text-align: right;
}

footer em  {
    padding-right: 20px;
}

hr {
    margin: 10px 0 0 0;
}
