{% macro title(h2, action, show) %}
<div>
    <h2 class="{% if show %}w3-theme-l1{% else %}w3-theme-d1{% endif %} w3-hover-green" onclick="display('{{ action }}');" style="margin:0;cursor:pointer" matcha-title>
        {{ h2 }}
    </h2>
</div>
{% endmacro %}
