{% extends 'templates/logForm.html.twig' %}
{% from 'macro/form/input.html.twig' import input %}
{% from 'macro/form/button.html.twig' import button %}

{% block h2 %}Reset Password{% endblock %}

{% block link %}
or <a href='{{ path_for('login') }}'>log in</a>
{% endblock %}

{% block action %}
{{ path_for('reInitPassword') }}
{% endblock %}

{% block form %}
<div class="w3-section">
    {{ input('email') }}
</div>
<div class="w3-section">
    {{ button('submit') }}
</div>
{% endblock %}
