{% extends 'templates/logForm.html.twig' %}
{% from 'macro/form/email.html.twig' import email %}
{% from 'macro/form/class.html.twig' import classCard, classh2, classForm %}

{% block h2 %}Reinitialisation du mot de passe{% endblock %}

{% block action %}
{{ path_for('reInitPassword') }}
{% endblock %}

{% block form %}
    <a href='{{ path_for('login') }}'>login</a>
    <div>
        {{ email({'label': 'email'}) }}
    </div>
    <input type='submit' name='submit'>
{% endblock %}
