{% block main %}
<div class="w3-content w3-card-4 w3-margin-top" style="max-width:500px">
    <div class="w3-container w3-theme-l1">
        <h2 class="">
            {% block h2 %}{% endblock %} 
        </h2>
        </p>

    </div>
    <form class="w3-container w3-theme-light clearfix" style="opacity:0.95" action="{% block action %}{% endblock %}" method="post">
    {% for key, message in flash %}
        {% if key == "success" %}
            <div class="w3-panel w3-green">
        {% else %}
            <div class="w3-panel w3-red">
        {% endif %}
        <p>{{ message }}</p>
            </div>
    {% endfor %}
        {% block form %}{% endblock %}
    </form>
</div>
{% endblock %}
