{% extends 'layout.html.twig' %}

{% block head %}
<link rel="stylesheet" href="css/login.css" type="text/css"/>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div class="w3-card-4 w3-display-topmiddle w3-margin-top">
    <div class="w3-container w3-display-container w3-theme-l1">
        <h2 class="w3-left">
            {% block h2 %}{% endblock %}
        </h2>
        <p class="w3-display-bottomright w3-margin-right">
            {% block link %}{% endblock %}
        </p>

    </div>
    <form class="w3-container w3-theme-light" style="opacity:0.95" action="{% block action %}{% endblock %}" method="post">
        {% block form %}{% endblock %}
    </form>
</div>
{% endblock %}
