{% extends 'layout.html.twig' %}
{% from 'macro/form/class.html.twig' import classCard, classh2, classForm %}

{% block head %}
<link rel="stylesheet" href="css/login.css" type="text/css"/>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div {{ classCard() }}>
    <div {{ classh2() }}>
        <h2>{% block h2 %}{% endblock %}</h2>
    </div>
    <form {{ classForm() }} action="{% block action %}{% endblock %}" method="post">
        {% block form %}{% endblock %}
    </form>
</div>
{% endblock %}
