{% extends "layout.html.twig" %}
{% import 'macro/form.html.twig' as forms %}

{% block title %}
{% endblock %}

{% block content %}
    <form action='{{ path_for('login') }}' method="post">
        <a href='{{ path_for('signup') }}'>signup?</a>
            <div>
                {{ forms.input() }}
            </div>
            <div>
                {{ forms.password() }}
            </div>
            <input type='submit' name='submit'>
    </form>
{% endblock %}
