{% extends "layout.html.twig" %}
{% from 'macro/form/email.html.twig' import email %}

{% block title %}
{% endblock %}

{% block content %}
    <form action='{{ path_for('reInitPassword') }}' method="post">
        <a href='{{ path_for('login') }}'>login</a>
            <div>
                {{ email({'label': 'email'}) }}
            </div>
            <input type='submit' name='submit'>
    </form>
{% endblock %}


