{% extends "layout.html.twig" %}

{% block title %}
{% endblock %}

{% block content %}
<form action="" method="post">
    <a href='{{ path_for('login') }}'>login In?</a>
    <div>
        <label>pseudo</label>
        <p></p>
        <input type="text"
               maxlength="50"
               name="pseudo"
               id="pseudo"
               required>
    </div>
    <div>
        <label>password</label>
        <p></p>
        <input type="password"
               name="password"
               id="password"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
               required> 
    </div>
    <div>
        <label>email</label>
        <p></p>
        <input type="email"
               name="email"
               id="email"
               required
               >
    </div>
        <select name="gender">
            <option value="rick">Rick</option>
            <option value="morty">Morty</option>
        </select>
    <div>
        <input type="submit" value="submit">
        <input type="reset" value="reset">
    </div>
</form>
{% endblock %}
