{% extends 'templates/home.html.twig' %}

{% block content %}
    <h2>Members</h2>
    {% set i = 0 %}
    {% for user in users %}
        {% if i == 0 %}
            <div class="w3-row">
        {% endif %}
        <div class="w3-third w3-padding">
            <div class="w3-card">
                <a href="/profil/{{ user.id }}">
                    <img src="../{{ user.img }}" style="width:100%">
                    <div class="w3-container">
                        <span>{{ user.pseudo }}</span><br>
                        <span>{{ user.gender }}</span>
                    </div>
                </a>
            </div>
            {% if i == 2 %}
                </div>
            {% endif %}
            </div>
    {% endfor %}
{% endblock %}
