{% extends 'templates/home.html.twig' %}

{% block content %}
    <h2>Members</h2>
    {% for user in users %}
        <a href="/profil/{{ user.id }}">
            <div class="w3-bar w3-border w3-theme-l3" style="width:100%">
                <img src="../{{ user.img }}" class="w3-bar-item" style="width:120px">
                <div class="w3-container w3-bar-item">
                    <span>{{ user.pseudo }}</span><br>
                    <span>{{ user.gender }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
